<h1>Ingresos y Salidas de Autos</h1>
<p>
  <div class="input">
    Seleccionar Local: 

    <select class="large" name="mediumSelect" id="mediumSelect">
      <% @estacionamientos.each do |estacionamiento|%>
      <option value="<%= estacionamiento.id %>"><%= estacionamiento.local %></option>
      <% end %>
    </select>
    <label id="lblId"></label>
  </div>
</p>

<div data-role="navbar">
	<ul>   	    
    <li>
      <button id="btnIngreso" data-icon="forward" data-theme="a" data-form="ui-btn-up-a" class="ui-btn-hidden" aria-disabled="false">Ingreso</button>
    </li>
    <li>
      <button id="btnSalida" data-icon="back" data-theme="a" data-form="ui-btn-up-a" class="ui-btn-hidden" aria-disabled="false">Salida</button>
    </li>
	</ul>
</div><!-- /navbar -->

<script>
        var btnIngreso = $("#btnIngreso");        
                btnIngreso.click(function (e) {                                  
                $("select option:selected").each(function () {
                  window.open("/estacionamientos/ingreso/"+$(this).val(), "_self");
                });                
                
            });
        var btnSalida = $("#btnSalida");        
                btnSalida.click(function (e) {                                  
                $("select option:selected").each(function () {                  
                  window.open("/estacionamientos/salida/"+$(this).val(), "_self");
                });                                
            });
              
</script>
