<h1>Ingresos y Salidas de Autos</h1>
<p>
  <div class="input">
    Seleccionar Local: <select class="large" name="mediumSelect" id="mediumSelect">
      <% @estacionamientos.each do |estacionamiento|%>
      <option><%= estacionamiento.local %></option>
      <% end %>
    </select>
  </div>
</p>
<HR>
  <P>
    <%= link_to "Ingreso", estacionamientos_path, class:"btn large primary" %>
    <%= link_to "Salida", estacionamientos_path, class:"btn large danger" %>
  </P>
  <HR>
  <%= link_to "Volver", estacionamientos_path %>