<div class="hero-unit">
<table>
  <% @estacionamientos.each do |estacionamiento| %>
  	<tr>
    	<td><h2><%= estacionamiento.local %><h2 /><td/>
    	<td><h2><%= estacionamiento.porcentaje %>%<h2/><td/>
    <tr/>
  <% end %>
 </table>
</div>
