<h1>Listing notificaciones</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notificaciones.each do |notificacion| %>
  <tr>
    <td><%= link_to 'Show', notificacion %></td>
    <td><%= link_to 'Edit', edit_notificacion_path(notificacion) %></td>
    <td><%= link_to 'Destroy', notificacion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notificacion', new_notificacion_path %>
